
node_modules/
dist/
build/
coverage/
.pnpm-debug.log
npm-debug.log*
yarn.lock
package-lock.json
.env
.env.local
.env.*.local
logs/
.vscode/
.idea/
*.code-workspace
.DS_Store
Thumbs.db
public/
web/dist/
*.db
*.sqlite
.prisma/
*.tgz
